body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.divGrey {
  height: 90vh;
  /* width: 90vw; */
  /* padding: 0 0 auto; */
  /* background-image: url(./imgs/level-1.jpg); */
  /* background-position: center; Center the image */
  /* background-repeat: no-repeat; Do not repeat the image */
  /* background-size: cover; Resize the background image to cover the entire container */
  /* background-color: royalblue; */
}

/* .level1img {
  height: 95%;
  width: 95%;
} */

.showmenu {
  display: none;
  position: absolute;
  height: 100px;
  width: 50px;
  background-color: green;
}

.showmenu.show {
  display: block;
}

/* .targetBox {
  position: absolute;
  height: 100px;
  width: 50px;
  background-color: red;
} */

li {
  list-style: none;
}

.characterDiv {
  background-color: royalblue;
  padding: 10px;
  width: 75px;
}

header {
  display: flex;
}

.wally {
  text-transform: capitalize;
}

.wallyfound {
  text-decoration: line-through;
  opacity: 50%;
}

.wallyImgFound {
  opacity: 50%;
}

.odlawImgFound {
  opacity: 50%;
}

.wizardImgFound {
  opacity: 50%;
}

.odlaw {
  text-transform: capitalize;
}

.odlawfound {
  text-decoration: line-through;
}

.wizard {
  text-transform: capitalize;
}

.wizardfound {
  text-decoration: line-through;
}

nav {
  width: 100%;
}

.navbar {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px #e2e2e2;
}

.navbar h2 {
  padding: 0.25rem;
}

.WhereSpan {
  color: #3b82f6;
}

.WallySpan {
  color: red;
}

.Waldoimg {
  height: 75px;
}

.testDocMap {
  display: flex;
  flex-direction: row;
}

.testDocMap div {
  padding-right: 25px;
}

/* .divGrey {
  display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 90vh;
  width: 90vw; */
/* } */

.App-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  /* align-items: center; */
}

.App-header img {
  height: 25px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
